//- placeholder: placeholder
//- value: text inside input
//- name: name for input
//- type: (password|email)

//- Modificators:
//- date-mask: input with date mask
//- right-border-free: input without right border
//- disabled

mixin input(parameters)
    -
        let inputAttributes = {
            'type': 'text',
            'class': 'input',
            'placeholder': parameters.placeholder,
            'name': parameters.name,
            'value': parameters.value
        }

        if (parameters.type) {
            switch (parameters.type) {
                case 'password':
                    inputAttributes.type = 'password';
                case 'email':
                    inputAttributes.type = 'email';

            }
        }

        if (parameters['date-mask']) {
            inputAttributes.class += ' input_date-mask';
            inputAttributes.placeholder = 'ДД.ММ.ГГГГ';
            inputAttributes.pattern = '^[0-3]{1}\\d{1}\\.[0-1]{1}\\d{1}\\.20\\d{2}$'
        }

        if (parameters['right-border-free']) {
            inputAttributes.class += ' input_right-border-free';
        }

        if (parameters.disabled) {
            inputAttributes.class += ' input_disabled';
            inputAttributes.readonly = true
        }

    input&attributes(inputAttributes)&attributes(attributes)