//- Modificators:
//- without-right-bottom-radius
//- icon_(expand|arrow)
mixin dropdown__button(parameters)
    -
        let cls = 'dropdown__button'
        if (parameters['without-right-bottom-radius']) {
            cls += ' dropdown__button_without-right-bottom-radius'
        }

    button(class=cls)
        include ../__icon/dropdown__icon.pug
        +dropdown__icon({'icon': parameters.icon})