@import '~nouislider/distribute/nouislider.css';

.slider__line {}

.noUi-target {
    height: 6px;
    border: 1px $color-dark-25 solid;
    background: none;
}

.noUi-horizontal .noUi-handle {
    background: linear-gradient(180deg, $color-green 0%, #66D2EA 100%);
    height: 16px;
    top: -6px;
    width: 16px;
    right: -8px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

.noUi-handle:before,
.noUi-handle:after {
    display: none;
}

.noUi-base {
    height: 5px;
}

.noUi-connect {
    background: linear-gradient(180deg, $color-green 0%, #66D2EA 100%);
}