//- icon_(expand|arrow)
mixin buttonfield__icon(parameters)
    case parameters.icon
        when 'expand'
            i(class='material-icons buttonfield__icon buttonfield__icon_expand') expand_more
        when 'arrow'
            i(class='material-icons buttonfield__icon buttonfield__icon_arrow') arrow_forward