//- placeholder: placeholder
//- value: text inside input
//- name: name for input
//- Modificators:
//- disabled
mixin buttonfield__input(parameters)
    include ../../input/input.pug
    -
        parameters['right-border-free'] = true

    +input(parameters)(class='buttonfield__input')