//- without-left-bottom-radius

mixin buttonfield__input(parameters)
    include ../../input/input.pug
    -
        parameters['right-border-free'] = true
    +input(parameters)(class='buttonfield__input')