.room-form__checkout {
  margin-left: 10px;
}

@media (max-width: $room-form-trigger-width) {
  .room-form__checkout {
    margin-left: 0;
    margin-top: 20px;
  }
}

@import '../../buttonfield/buttonfield.scss';