//- name
//- value
//- description
//- caption
//- checked
//- Modificators:
//- font: (s|m) - font size of description
mixin checkbox(parameters)
    include ./__text/checkbox__text.pug
    include ./__input/checkbox__input.pug

    div(class='checkbox')&attributes(attributes)
        +checkbox__input({'checked': parameters.checked, 'name': parameters.name, 'value': parameters.value})
        +checkbox__text({'caption': parameters.caption, 'description': parameters.description, 'font': parameters.font})