//- name
//- value
//- description
//- caption
//- checked
//- toggle
mixin checkbox(parameters)
    include ./__text/checkbox__text.pug
    include ./__input/checkbox__input.pug

    -
        let cls = 'checkbox';
        cls += (parameters.toggle) ? ' checkbox_toggle' : ''

    div(class=cls)&attributes(attributes)
        +checkbox__input({
            'checked': parameters.checked,
            'name': parameters.name,
            'value': parameters.value,
            'toggle': parameters.toggle
        })
        +checkbox__text({
            'caption': parameters.caption,
            'description': parameters.description,
            'toggle': parameters.toggle
        })