//- description
//- caption
//- Modificators:
//- font: (s|m) - font size of description
mixin checkbox(parameters)
    include ./__text/checkbox__text.pug
    include ./__input/checkbox__input.pug

    div(class='checkbox')&attributes(attributes)
        +checkbox__input()
        +checkbox__text(parameters)