//- placeholder: placeholder
//- value: text inside input

//- Modificators:
//- date-mask: input with date mask

mixin textfield__input(parameters)
    include ../../input/input.pug
    +input(parameters)(class='textfield__input')