//- placeholder: placeholder
//- value: text inside input

//- Modificators:
//- date-mask: input with date mask
//- right-border-free: input without right border
//- without-left-bottom-radius: input without right border

mixin textfield__input(parameters)
    include ../../input/input.pug
    +input(parameters)(class='textfield__input')