//- placeholder: placeholder
//- value: text inside input
//- name: name for input
//- type: (password|email)

//- Modificators:
//- date-mask: input with date mask

mixin textfield__input(parameters)
    include ../../input/input.pug
    +input(parameters)(class='textfield__input')