.room-form {
    position: relative;
    display: flex;
    flex-direction: column;
    
    box-sizing: border-box;
    min-width: 280px;
    max-width: 380px;
    width: 380px;

    padding: 39px 30px 30px 30px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

@media (max-width: $room-form-trigger-width) {
    .room-form {
        width: 250px;
        padding-left: 15px;
        padding-right: 15px;
    }
  }

@import './__caption/room-form__caption.scss';
@import './__guests/room-form__guests.scss';
@import './__dates-container/room-form__dates-container.scss';
@import './__calendar/room-form__calendar.scss';