//- name
//- value
//- checked
mixin checkbox__input(parameters)
    span(class='checkbox__input')
        -
            let attrs = {}
            if (parameters.checked) {
                attrs['checked'] = true
            }

            if (parameters.name) {
                attrs['name'] = parameters.name
            }

            if (parameters.value) {
                attrs['value'] = parameters.value
            }

            const addMod = (cls, isToggle) => {
                cls = cls + ' ' + cls;
                cls += (isToggle) ? '_toggle' : '_check';
                return cls;
            };

            let cls_native = addMod('checkbox__native', parameters.toggle);
            let cls_control = addMod('checkbox__control', parameters.toggle);

        input(class=cls_native type='checkbox')&attributes(attrs)
        span(class=cls_control)