//- checked
mixin checkbox__input(parameters)
    span(class='checkbox__input')
        -
            let attrs = {}
            if (parameters.checked) {
                attrs['checked'] = true
            }
        input(class='checkbox__native' type='checkbox')&attributes(attrs)
        span(class='checkbox__control')