//- without-left-bottom-radius

mixin dropdown__input(parameters)
    include ../../input/input.pug
    -
        parameters['right-border-free'] = true
    +input(parameters)(class='dropdown__input')