.calendar {
  display: none;
  min-width: 250px;
  max-width: 320px;
  width: 320px;
  padding: 20px;
  padding-top: 19px;
  box-sizing: border-box;

  background-color: white;
  border: 1px $color-dark-25 solid;
  border-radius: 4px;
  box-shadow: 0px 10px 20px $color-dark-5;
}

@media (max-width: $calendar-trigger-width) {
  .calendar {
    width: 250px;
  }
}

@import './__header/calendar__header.scss';
@import './__body/calendar__body.scss';
@import './__footer/calendar__footer.scss';
@import './_active/calendar_active.scss';
