$color-dark-100: rgba(31, 32, 65, 1);
$color-dark-75: rgba(31, 32, 65, 0.75);
$color-dark-50: rgba(31, 32, 65, 0.5);
$color-dark-25: rgba(31, 32, 65, 0.25);
$color-dark-10: rgba(31, 32, 65, 0.1);
$color-dark-5: rgba(31, 32, 65, 0.05);
$color-purple: #bc9cff;
$color-green: #6fcf97;
$color-background: #f4f4f6;

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('~@fonts/Montserrat-Regular.woff') format('woff'),
    url('~@fonts/Montserrat-Regular.ttf') format('truetype'),
    url('~@fonts/Montserrat-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('~@fonts/Montserrat-Bold.woff') format('woff'),
    url('~@fonts/Montserrat-Bold.ttf') format('truetype'),
    url('~@fonts/Montserrat-Bold.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('~@fonts/MaterialIcons-Regular.woff') format('woff'),
    url('~@fonts/MaterialIcons-Regular.ttf') format('truetype'),
    url('~@fonts/MaterialIcons-Regular.svg') format('svg');
}

@mixin normal-font-style {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: normal;
}

@mixin bold-font-style {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: normal;
}

@mixin icons-font-style {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@mixin h1-font-style {
  @include bold-font-style;
  font-size: 24px;
  line-height: 29px;
  color: $color-dark-100;
}

@mixin h2-font-style {
  @include bold-font-style;
  font-size: 19px;
  line-height: 23px;
  color: $color-dark-100;
}

@mixin h3-font-style {
  @include bold-font-style;
  font-size: 12px;
  line-height: 15px;
  color: $color-dark-100;
}

@mixin body-font-style {
  @include normal-font-style;
  font-size: 14px;
  line-height: 24px;
  color: $color-dark-75;
}
