mixin registration-form__password
    include ../../input/input.pug
    +input({
        placeholder: 'Пароль',
        value: '',
        name: 'password',
        type: 'password'
    })(class='registration-form__password')