@import '@components/text-field/__input/text-field__input.scss';
@import '@components/text-field/__label/text-field__label.scss';

.text-field {
  width: 100%;
  min-width: 260px;
  min-height: 44px;
}