mixin text-field(parameters)
    div(class='text-field')&attributes(attributes)
        if parameters.label
            label(class='text-field__label')= parameters.label

        -
            let inputAttributes = {
                'type': 'text',
                'class': 'text-field__input',
                'placeholder': parameters.placeholder,
                'value': parameters.value
            }

            if (parameters.date_mask ) {
                inputAttributes.class += ' text-field__input_date-mask';
                inputAttributes.placeholder = 'ДД.ММ.ГГГГ';
                inputAttributes.pattern = '^[0-3]{1}\\d{1}\\.[0-1]{1}\\d{1}\\.20\\d{2}$'
            }

        input&attributes(inputAttributes)