//- label: text of label
//- placeholder: placeholder
//- value: text inside input

//- Modificators:
//- date-mask: input with date mask
//- right-border-free: input without right border
//- without-left-bottom-radius: input without right border

mixin text-field(parameters)
    div(class='text-field')&attributes(attributes)
        if parameters.label
            include ./__label/text-field__label.pug
            +text-field__label({'label': parameters.label})

        -
            let inputParams = {
                'placeholder': parameters.placeholder,
                'value': parameters.value,
                'date-mask': parameters['date-mask'],
                'right-border-free': parameters['right-border-free'],
                'without-left-bottom-radius': parameters['without-left-bottom-radius'],
            }

        include ./__input/text-field__input.pug
        +text-field__input(inputParams)