//- shape: (circle|star)
//- text: text inside button
//- icon: (arrow|heart)
//- size: (s|m|b)
//- font: (s|m|b)
//- background: (none|purple-gradient|green-gradient)
//- border: (s|m)
mixin button(parameters)
    -
        let attrs = {
            class: 'button',
            type :'button'
        }

        switch (parameters.shape) {
            case 'circle':
                attrs.class += ' button_shape_circle';
                break;
            case 'star':
                attrs.class += ' button_shape_star';
                parameters.text = '';
        }

        switch (parameters.icon) {
            case 'arrow':
                attrs.class += ' button_icon_arrow';
                break;
            case 'heart':
                attrs.class += ' button_icon_heart';
        }

        switch (parameters.size) {
            case 'b':
                attrs.class += ' button_size_b';
                break;
            case 'm':
                attrs.class += ' button_size_m';
                break;
            case 's':
                attrs.class += ' button_size_s';
        }

        switch (parameters.font) {
            case 'b':
                attrs.class += ' button_font_b';
                break;
            case 'm':
                attrs.class += ' button_font_m';
                break;
            case 's':
                attrs.class += ' button_font_s';
        }

        switch (parameters.background) {
            case 'purple-gradient':
                attrs.class += ' button_background_purple-gradient';
                break;

            case 'green-gradient':
                attrs.class += ' button_background_green-gradient';
                break;

            case 'none':
                attrs.class += ' button_background_none';
                break;
        }

        if (parameters.border) {
            attrs.class += ' button_background_border';
            attrs.class += (parameters.border == 'thin') ? ' button_border_thin' : ' button_border_thick';
        }

    include ./__icon/button__icon.pug

    div&attributes(attributes)&attributes(attrs)= parameters.text
        if parameters.icon
            +button__icon({'icon': parameters.icon})