.button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;

  padding: 0;
  user-select: none;

  border-radius: 1000px;
  cursor: pointer;
}

@import './_size_b/button_size_b.scss';
@import './_size_m/button_size_m.scss';
@import './_size_s/button_size_s.scss';

@import './_font_big/button_font_big.scss';
@import './_font_normal/button_font_normal.scss';
@import './_font_small/button_font_small.scss';

@import './_font-color_dark-gray/button_font-color_dark-gray.scss';
@import './_font-color_purple/button_font-color_purple.scss';
@import './_font-color_white/button_font-color_white.scss';

@import './_background/button_background.scss';
@import './_background_purple-gradient/button_background_purple-gradient.scss';
@import './_background_green-gradient/button_background_green-gradient.scss';

@import './_border/button_border.scss';
@import './_border_thin/button_border_thin.scss';
@import './_border_thick/button_border_thick.scss';

@import './_mode_like/button_mode_like.scss';
@import './_mode_shape/button_mode_shape.scss';
@import './_mode_text/button_mode_text.scss';

@import './__icon/button__icon.scss';
