//- text: text inside button
//- theme: (common|common-border|common-solid|pagination-purple|pagination-green|pagination|like)
//- icon: (arrow)

mixin button(parameters)
    -
        let classes = ['button']
        let icon = parameters.icon;

        if (parameters.theme == 'common') {
            classes.push('button_size_m');
            classes.push('button_font_normal');
            classes.push('button_mode_text');
        }

        if (
            parameters.theme == 'common-solid' ||
            parameters.theme == 'common-border'
        ) {
            classes.push('button_size_b');
            classes.push('button_font_big');
            classes.push('button_background');
            classes.push('button_background_purple-gradient');
            classes.push('button_mode_shape');
        }

        if (parameters.theme == 'common-solid') {
            classes.push('button_font-color_white');
        }

        if (parameters.theme == 'common-border') {
            classes.push('button_font-color_purple');
            classes.push('button_border');
            classes.push('button_border_thick');
            
        }

        if (parameters.theme == 'pagination') {
            classes.push('button_size_m');
            classes.push('button_font_big');
            classes.push('button_font-color_dark-gray');
        }

        if (
            parameters.theme == 'pagination-purple' ||
            parameters.theme == 'pagination-green'
        ) {
            classes.push('button_size_m');
            classes.push('button_font_big');
            classes.push('button_background');
            classes.push('button_font-color_white');
            classes.push('button_mode_shape');
        }

        if (parameters.theme == 'pagination-purple') {
            classes.push('button_background_purple-gradient');
        }

        
        if (parameters.theme == 'pagination-green') {
            classes.push('button_background_green-gradient');
            icon = 'arrow';
        }

        if (parameters.theme == 'like') {
            classes.push('button_size_s');
            classes.push('button_font_small');
            classes.push('button_border');
            classes.push('button_border_thin');
            classes.push('button_mode_like');
            icon = (parameters.active) ? 'heart' : 'heart-border';
        }

        if (parameters.active) {
            classes.push('button_active');
        }

    include ./__icon/button__icon.pug

    div(class=classes)&attributes(attributes)= parameters.text
        if icon
            +button__icon({'icon': icon})