mixin calendar__footer
    div(class='calendar__footer')
        include ../__button-apply/calendar__button-apply.pug
        include ../__button-clean/calendar__button-clean.pug

        +calendar__button-clean()
        +calendar__button-apply()