//- label: text of label
//- placeholder: placeholder
//- value: text inside input
//- icon: (expand|arrow)
//- Modificators:
//- disabled

mixin buttonfield(parameters)
    div(class='buttonfield')&attributes(attributes)
        include ./__input/buttonfield__input.pug
        include ./__label/buttonfield__label.pug
        include ./__button/buttonfield__button.pug

        +buttonfield__label({'label': parameters.label})
        +buttonfield__input({
            'placeholder': parameters.placeholder,
            'value': parameters.value,
            'disabled': parameters.disabled
        })
        +buttonfield__button({'icon': parameters.icon})