//- icon: (expand|arrow)
mixin buttonfield__button(parameters)
    include ../__icon/buttonfield__icon.pug
    case parameters.icon
        when 'arrow'
            button(class='buttonfield__button')
                +buttonfield__icon({'icon': parameters.icon})
        when 'expand'
            div(class='buttonfield__button')
                +buttonfield__icon({'icon': parameters.icon})
            
                
