//- text
mixin pagination__left(parameters)
    include ../../button/button.pug
    +button({'text': parameters.text, 'shape' : 'circle', 'size' : 'm', 'font' : 'b', 'background' : 'purple-gradient'})(class='pagination__left')