//- text
//- Modificators:
//- font: (s|m) - font size of description
mixin checkbox__description(parameters)
    -
        let cls = 'checkbox__description'
        cls += (parameters.font == 's') ? ' checkbox__description_font_s' : ' checkbox__description_font_m'

    p(class=cls)= parameters.text