//- label: text of label
//- placeholder: placeholder
//- value: text inside input

//- Modificators:
//- date-mask: input with date mask
//- right-border-free: input without right border
//- without-left-bottom-radius: input without right border
//- disabled
mixin textfield(parameters)
    div(class='textfield')&attributes(attributes)
        if parameters.label
            include ./__label/textfield__label.pug
            +textfield__label({'label': parameters.label})

        -
            let inputParams = {
                'placeholder': parameters.placeholder,
                'value': parameters.value,
                'disabled': parameters.disabled,
                'date-mask': parameters['date-mask'],
                'right-border-free': parameters['right-border-free'],
                'without-left-bottom-radius': parameters['without-left-bottom-radius'],
            }

        include ./__input/textfield__input.pug
        +textfield__input(inputParams)