doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=1440, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0')
        link(rel='icon' sizes='16x16 32x32 48x48' href='favicon.ico')
    body
        include ../../assets/components/logo/logo.pug
        include ../../assets/components/textfield/textfield.pug
        include ../../assets/components/buttonfield/buttonfield.pug

        +logo({'size': 'm'})(class='page__logo')
        
        div(class='page')
            div(class='page__container container')
                div(class='container__block-1 block-1')
                    +textfield({'label': 'TEXT FIELD', 'placeholder' : 'Email'})(class='block-1__textfield')
                    +textfield({'label': 'TEXT FIELD', 'value' : 'This is pretty awesome'})(class='block-1__focused-textfield')
                    +buttonfield({'label': 'DROPDOWN', 'value' : 'Сколько гостей', 'icon': 'expand', 'disabled': true})(class='block-1__guest-buttonfield')
                    +textfield({'label': 'MASKED TEXT FIELD', 'date-mask' : true})(class='block-1__masked-textfield')

                    div(class='container__buttonfield-row')
                        +buttonfield({'label': 'DATE DROPDOWN', 'value' : 'ДД.ММ.ГГГГ', 'icon': 'expand', 'disabled': true})(class='block-1__single-date-buttonfield')
                        +buttonfield({'label': 'DATE DROPDOWN', 'value' : '19.08.2019', 'icon': 'expand', 'disabled': true})(class='block-1__chosen-single-date-buttonfield')

                    +buttonfield({'label': 'FILTER DATE DROPDOWN', 'value' : '19 авг - 23 авг', 'icon': 'expand', 'disabled': true})(class='block-1__filter-date-buttonfield')
                    +buttonfield({'label': 'SUBSCRIPTION TEXT FIELD', 'placeholder' : 'Email', 'icon': 'arrow'})(class='block-1__subscription-textfield')

                div(class='container__block-2')
                div(class='container__block-3')
                div(class='container__block-4')
                div(class='container__block-5')
                div(class='container__block-6')
                div(class='container__block-7')
