@import '@styles/zero-style.scss';
@import '@styles/global-vars.scss';

@import '@components/logo/logo.scss';
@import '@components/textfield/textfield.scss';
@import '@components/buttonfield/buttonfield.scss';
@import '@components/button/button.scss';
@import '@components/pagination/pagination.scss';
@import '@components/checkbox/checkbox.scss';
@import '@components/radio/radio.scss';
@import '@components/rate/rate.scss';
@import '@components/dropdown/dropdown.scss';
@import '@components/expand-checkbox/expand-checkbox.scss';

.page__logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

.page__container {
  margin-left: 141px;
  margin-top: 143px;
}

.container {
  display: grid;
  grid-template-columns: 320px 126px 260px 132px 320px;
  // grid-template-rows: 736px 688px 158x;
}

.container__block-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  height: 733px;

  width: 100%;
  .block-1__focused-textfield,
  .block-1__guest-buttonfield {
    margin-top: 20px;
  }

  .block-1__masked-textfield {
    margin-top: 22.56px;
  }

  .block-1__buttonfield-row {
    margin-top: 40px;
    display: flex;

    .block-1__single-date-buttonfield,
    .block-1__chosen-single-date-buttonfield {
      width: 150px;
      flex-grow: 0;
    }

    .block-1__single-date-buttonfield {
      margin-right: auto;
    }

    .block-1__chosen-single-date-buttonfield {
      margin-left: auto;
    }
  }

  .block-1__filter-date-buttonfield {
    width: 266px;
    margin-top: 41px;
  }

  .block-1__subscription-textfield {
    width: 267px;
    margin-top: 41px;
  }
}

.container__block-2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;

  width: 100%;

  .block-2__checkbox-buttons {
    margin-top: -2px;
    width: 225px;

    .block-2__checkbox-1 {
      margin-top: 16px;
    }

    .block-2__checkbox-2 {
      margin-top: 10.5px;
    }

    .block-2__checkbox-3 {
      margin-top: 10px;
    }
  }

  .block-2__radio-buttons {
    margin-top: 39px;
  }

  .block-2__radio-row {
    display: flex;
    margin-top: 16px;

    .block-2__radio-woman {
      margin-left: 20px;
    }
  }

  .block-2__toggles {
    margin-top: 37px;

    .block-2__toggles-row {
      margin-top: 16px;

      .block-2__toggle-off {
        margin-top: 13px;
      }
    }
  }

  .block-2__like-buttons {
    margin-top: 43px;

    .block-2__like-buttons-row {
      display: flex;
      margin-top: 15px;

      .block-2__like-off {
        width: 40px;
      }        

      .block-2__like-on {
        width: 40px;
        margin-left: 10px;
      }
    }
  }

  .block-2__rate-buttons {
    margin-top: 38px;

    .block-2__rate-buttons-row {
      display: flex;
      margin-top: 15px;

      .block-2__rate-left {
        width: 120px;
      }

      .block-2__rate-right {
        width: 120px;
        margin-left: 20px;
      }
    }
  }
}

.container__block-3 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;

  width: 100%;

  .block-3__range-slider {
    margin-top: 0px;
  }

  .block-3__buttons {
    margin-top: 22px;
  }

  .block-3__button-row-1,
  .block-3__button-row-2,
  .block-3__button-row-3,
  .block-3__button-row-4,
  .block-3__button-row-5 {
    display: flex;
  }

  .block-3__button-row-1 {
    margin-top: 15px;
  }

  .block-3__button-row-2 {
    margin-top: 30px;
  }

  .block-3__button-row-3 {
    margin-top: 30px;
  }

  .block-3__button-row-4 {
    margin-top: 40px;
  }

  .block-3__button-row-5 {
    margin-top: 16px;
  }

  .block-3__button-1,
  .block-3__button-2,
  .block-3__button-3,
  .block-3__button-4 {
    width: 99px;
  }

  .block-3__button-2,
  .block-3__button-4 {
    margin-left: 19px;
  }

  .block-3__button-5,
  .block-3__button-6 {
    width: 61px;
  }

  .block-3__button-6 {
    margin-left: 20px;
  }

  .block-3__button-7 {
    margin-top: 31px;
  }

  .block-3__pagination {
    width: 100%;
  }
}

.container__block-4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  width: 100%;

  .block-4__dropdown-close {
    width: 266px;
  }

  .block-4__dropdown-open {
    margin-top: 20px;
    width: 266px;
  }

  .block-4__expand-checkbox-close {
    margin-top: 40px;
    width: 266px;
  }

  .block-4__expand-checkbox-open {
    margin-top: 20px;
    width: 266px;
  }

  
}


.container__block-5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

  width: 100%;

  .block-5__dropdown {
    width: 320px;
  }

  .block-5__rich-checkbox-buttons {
    margin-top: 97px;
    
  }

  .block-5__checkbox-1 {
    margin-top: 16px;
    width: 230px;
  }

  .block-5__checkbox-2 {
    margin-top: 11px;
    width: 260px;
  }
}

.container__block-6 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;

  width: 100%;

  .block-6__dropdown {
    width: 320px;
  }
}