@import '@styles/zero-style.scss';
@import '@styles/global-vars.scss';

@import '@components/logo/logo.scss';
@import '@components/text-field/text-field.scss';
@import '@components/dropdown/dropdown.scss';

.page__logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

.page__container {
  margin: 143px 141px;
}

.container {
  display: grid;
  grid-template-columns: 320px 126px 260px 132px 320px;
  grid-template-rows: 736px 688px 158x;
}

.block-1 {
  width: 100%;
  .block-1__focused-text-field,
  .block-1__guest-dropdown {
    margin-top: 20px;
  }

  .block-1__masked-text-field {
    margin-top: 22.56px;
  }

  .container__dropdown-row {
    margin-top: 40px;
    display: flex;

    .block-1__single-date-dropdown,
    .block-1__chosen-single-date-dropdown {
      width: 150px;
      flex-grow: 0;
    }

    .block-1__single-date-dropdown {
      margin-right: auto;
    }

    .block-1__chosen-single-date-dropdown {
      margin-left: auto;
    }
  }

  .block-1__filter-date-dropdown {
    width: 266px;
    margin-top: 40px;
  }
}
