//- name
//- value
//- checked
mixin radio__input(parameters)
    span(class='radio__input')
        -
            let attrs = {}
            if (parameters.checked) {
                attrs['checked'] = true
            }

            if (parameters.name) {
                attrs['name'] = parameters.name
            }

            if (parameters.value) {
                attrs['value'] = parameters.value
            }
            
        input(class='radio__native' type='radio')&attributes(attrs)
        span(class='radio__border')
        span(class='radio__center')
        