.room-form__calendar {
    position: absolute;
    top: 190px;
    z-index: 1;
}

@media (max-width: $room-form-trigger-width) {
    .room-form__calendar {
        top: 263px;
    }
  }

@import '../../calendar/calendar.scss';