mixin room-form__calendar(parameters)
    include ../../calendar/calendar.pug
    - const date = new Date()
    +calendar({
        'year': date.getFullYear(),
        'month': date.getMonth() + 1,
        'currentDate': date.toJSON().slice(0, 10),
        'startDate': '',
        'endDate': '',
    })(class='room-form__calendar')