doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=1440, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0')
        link(rel='icon' sizes='16x16 32x32 48x48' href='favicon.ico')
    body
        include ../../assets/components/logo/logo.pug
        include ../../assets/components/calendar/calendar.pug
        //- include ../../assets/components/buttonfield/buttonfield.pug
        include ../../assets/components/room-form/room-form.pug


        +logo({'size': 'm'})(class='page__logo')
        
        div(class='page')
            div(class='page__container container')
                div(class='container__block-1 block-1')
                    +room-form({
                        'size': 's',
                        'action': '/mock-address/change-me'
                    })(class='block-1__room-form')
                    //- +buttonfield({'label': 'DATE DROPDOWN', 'value' : 'ДД.ММ.ГГГГ', 'icon': 'expand'})(class='block-1__single-date-buttonfield')

                div(class='container__block-2 block-2')
                div(class='container__block-3 block-3')
                    
                    +calendar({
                        'active': true,
                        'year': 2019,
                        'month': 8,
                        'currentDate': '2019-08-08',
                        'startDate': '2019-08-19',
                        'endDate': '2019-08-23',
                        'size': 'm'
                    })(class='block-3__calendar')