//- label: text of label
//- placeholder: placeholder
//- value: text inside input
//- Modificators:
//- icon_(expand|arrow)
//- bottom_flat
//- disabled
mixin dropdown(parameters)
    div(class='dropdown')&attributes(attributes)
        include ./__input/dropdown__input.pug
        include ./__label/dropdown__label.pug
        include ./__button/dropdown__button.pug

        -
            let inputParams = {
                'placeholder': parameters.placeholder,
                'value': parameters.value,
                'disabled': parameters.disabled
            }

            let buttonParams = {
                'icon': parameters.icon
            }

            if (parameters.bottom == 'flat') {
                inputParams['without-left-bottom-radius'] = true
                buttonParams['without-right-bottom-radius'] = true
            }

        +dropdown__label({'label': parameters.label})
        +dropdown__input(inputParams)
        +dropdown__button(buttonParams)