mixin room-form__dates-container
    div(class='room-form__dates-container')
        include ../__checkin/room-form__checkin.pug
        include ../__checkout/room-form__checkout.pug

        +room-form__checkin()
        +room-form__checkout()