doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0')
    body
        div(class='page')
            div(class='logo logo_grayscale logo_size_m page__logo')
        div(class='container')